<h2>Productos</h2>
<div class="product-actions">
    <%= link_to 'Añadir Producto', new_product_path, class: 'btn add-product-btn' %>
    <%= form_with url: products_path, method: :get, class: 'search-form' do |form| %>
        <%= form.text_field :name, placeholder: 'Buscar producto', onChange: 'this.form.requestSubmit()', value: params[:name], class: 'search-input' %>
        <%= form.select :order_by, options_for_select([["Más Caros","expensive"], ["Más Baratos","cheapest"], ["A - Z","ascendent"], ["Z - A","descendent"]], params[:order_by]), {}, { onChange: "this.form.requestSubmit()"} %>
    <% end %>
</div>
<table class="product-table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio Unitario</th>
            <th>Stock</th>
            <th>Categoría</th>
            <th>Tamaño</th>
            <th>Color</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <% @products.each do | product | %>
            <tr>
                <td><%= product.name %></td>
                <td><%= product.description %></td>
                <td><%= product.unit_price %></td>
                <td><%= product.stock %></td>
                <td><%= product.category %></td>
                <td><%= product.size %></td>
                <td><%= product.color %></td>
                <td>
                    <%= link_to 'Detalle', product_path(product), class: 'btn detail-btn' %>
                    <%= link_to 'Modificar', edit_product_path(product), class: 'btn modify-btn' %>
                    <%= link_to 'Eliminar', product_path(product), data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro de que quieres eliminar el producto #{product.name}?"}, class: 'btn delete-btn' %>
                    <button class="btn update-stock-btn" onclick="updateStock('<%= product.id %>')">Actualizar Stock</button>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>