<h2>Detalles del Producto</h2>

<div class="ticket">
  <div class="ticket-item">
    <span class="label">Nombre:</span> <span class="value"><%= @product.name %></span>
  </div>
  <div class="ticket-item">
    <span class="label">Descripción:</span> <span class="value"><%= @product.description %></span>
  </div>
  <div class="ticket-item">
    <span class="label">Precio Unitario:</span> <span class="value"><%= @product.unit_price %></span>
  </div>
  <div class="ticket-item">
    <span class="label">Stock:</span> <span class="value"><%= @product.stock %></span>
  </div>
  <div class="ticket-item">
    <span class="label">Categoría:</span> <span class="value"><%= @product.category %></span>
  </div>
  <div class="ticket-item">
    <span class="label">Tamaño:</span> <span class="value"><%= @product.size %></span>
  </div>
  <div class="ticket-item">
    <span class="label">Color:</span> <span class="value"><%= @product.color %></span>
  </div>
</div>